{
  "openapi": "3.0.3",
  "info": {
    "title": "Searchlysis API Reference",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://searchlysis.com/api"
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "summary": "Analyze search",
        "operationId": "analyze-search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeSearchParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResults"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/links": {
      "post": {
        "summary": "Analyze links",
        "operationId": "analyze-links",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeLinkParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResults"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses": {
      "get": {
        "summary": "Get analysis",
        "operationId": "get-analysis",
        "parameters": [
          {
            "name": "analysisId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses/list": {
      "get": {
        "summary": "List analyses",
        "operationId": "list-analyses",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisResult"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AnalyzeSearchParams": {
        "required": ["query", "prompt"],
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object"
          },
          "query": {
            "type": "string"
          },
          "num": {
            "type": "integer",
            "example": 10,
            "minimum": 1
          },
          "prompt": {
            "type": "string"
          },
          "temperature": {
            "type": "number",
            "example": 0.8,
            "minimum": 0,
            "maximum": 2
          }
        }
      },
      "AnalyzeLinkParams": {
        "required": ["link", "prompt"],
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object"
          },
          "link": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "prompt": {
            "type": "string"
          },
          "temperature": {
            "type": "number",
            "example": 0.8,
            "minimum": 0,
            "maximum": 2
          }
        }
      },
      "AnalyzeResults": {
        "required": ["usageId", "costCredits", "results"],
        "type": "object",
        "properties": {
          "usageId": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "costCredits": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnalyzeResultObject"
            }
          }
        }
      },
      "AnalyzeResultObject": {
        "required": ["analysisId", "createdAt", "updatedAt", "analysis"],
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "analysis": {
            "$ref": "#/components/schemas/AnalyzeAnalysisObject"
          }
        }
      },
      "AnalyzeAnalysisObject": {
        "required": ["title", "url", "id", "text"],
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "publishedDate": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "favicon": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "AnalysisResult": {
        "required": ["createdAt", "updatedAt", "analysisId", "analysis"],
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "analysisId": {
            "type": "string"
          },
          "analysis": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
