{
  "openapi": "3.1.0",
  "info": {
    "title": "Searchlysis API Reference",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://searchlysis.com/api"
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "summary": "Analyze search",
        "operationId": "analyze-search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeSearchParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResults"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/links": {
      "post": {
        "summary": "Analyze links",
        "operationId": "analyze-links",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeLinkParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResults"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses": {
      "get": {
        "summary": "Get analysis",
        "operationId": "get-analysis",
        "parameters": [
          {
            "name": "analysisId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "summary": "Update analysis",
        "operationId": "update-analysis",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAnalysisParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses/list": {
      "get": {
        "summary": "List analyses",
        "operationId": "list-analyses",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "User defined key-value pair where the key is a string, and the value can be a string, number, boolean, or null",
              "examples": ["{\"key\":\"value\"}"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisResult"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses/listIds": {
      "get": {
        "summary": "List analyses ids",
        "operationId": "list-analyses-ids",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "User defined key-value pair where the key is a string, and the value can be a string, number, boolean, or null",
              "examples": ["{\"key\":\"value\"}"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisResult"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses/related": {
      "get": {
        "summary": "List related analyses",
        "operationId": "list-related-analyses",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "User defined key-value pair where the key is a string, and the value can be a string, number, boolean, or null",
              "examples": ["{\"key\":\"value\"}"]
            }
          },
          {
            "name": "analysisId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisResult"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses/count": {
      "get": {
        "summary": "Count analyses",
        "operationId": "count-analyses",
        "parameters": [
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "User defined key-value pair where the key is a string, and the value can be a string, number, boolean, or null",
              "examples": ["{\"key\":\"value\"}"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Number of analyses",
                  "examples": [{ "count": 10 }]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/analyses/delete": {
      "post": {
        "summary": "Delete analysis",
        "operationId": "delete-analysis",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAnalysisParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "description": "Analysis deleted",
                  "examples": [true]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AnalyzeSearchParams": {
        "required": ["query", "prompt"],
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "query": {
            "type": "string",
            "description": "The query string for the search.",
            "examples": ["searchlysis", "site:searchlysis.com"]
          },
          "num": {
            "type": "integer",
            "examples": [10],
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "description": "Number of results to return (up to thousands of results available for custom plans)"
          },
          "startPublishedDate": {
            "type": "string",
            "description": "Start date for published date filter (2023-01-01T00:00:00.000Z)"
          },
          "endPublishedDate": {
            "type": "string",
            "description": "End date for published date filter (2023-12-31T00:00:00.000Z)"
          },
          "prompt": {
            "type": "string"
          },
          "temperature": {
            "type": "number",
            "examples": [0.8],
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature (range: [0, 2])."
          }
        }
      },
      "AnalyzeLinkParams": {
        "required": ["link", "prompt"],
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "link": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "description": "Array of links(URLs that start with https) to analyze"
          },
          "prompt": {
            "type": "string"
          },
          "temperature": {
            "type": "number",
            "examples": [0.8],
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature (range: [0, 2])."
          }
        }
      },
      "AnalyzeResults": {
        "required": ["usageId", "costCredits", "results"],
        "type": "object",
        "properties": {
          "usageId": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "costCredits": {
            "type": "integer",
            "description": "Total credits cost for your request"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnalyzeResultObject"
            }
          }
        }
      },
      "AnalyzeResultObject": {
        "required": ["analysisId", "createdAt", "updatedAt", "analysis"],
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "analysis": {
            "$ref": "#/components/schemas/AnalyzeAnalysisObject"
          }
        }
      },
      "AnalyzeAnalysisObject": {
        "required": ["title", "url", "id", "text", "content"],
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "publishedDate": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "favicon": {
            "type": "string"
          },
          "extras": {
            "type": "object",
            "properties": {
              "imageLinks": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "text": {
            "type": "string",
            "description": "The full content text of the search result."
          },
          "content": {
            "type": "string",
            "description": "The LLM generated content of the search result based on the prompt and text."
          }
        }
      },
      "AnalysisResult": {
        "required": ["createdAt", "updatedAt", "analysisId", "analysis"],
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "analysisId": {
            "type": "string"
          },
          "analysis": {
            "$ref": "#/components/schemas/AnalyzeAnalysisObject"
          },
          "textContent": {
            "type": "string",
            "description": "The full text of the generated content."
          },
          "jsonContent": {
            "type": "object",
            "description": "The json object of the generated content."
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "UpdateAnalysisParams": {
        "required": ["analysisId"],
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/Content"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "GetAnalysisParams": {
        "required": ["analysisId"],
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string"
          }
        }
      },
      "Content": {
        "description": "The LLM generated content of the search result based on the prompt and text.",
        "type": "string"
      },
      "Metadata": {
        "description": "User defined key-value pair where the key is a string, and the value can be a string, number, boolean, or null",
        "type": "object"
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
